@charset "UTF-8";
.search-form {
  width: 100%;
}

.form-submit {
  width: 20%;
  display: inline-block;
  text-align: center;
}

.form-submit input[type=submit] {
  font-size: 16px;
  background-color: #228896;
  color: #fff;
  width: 70%;
  height: 40px;
  border: none;
  border-radius: 5px;
}
.form-submit input[type=submit]:link,input[type=submit]:visited,input[type=submit]:hover {
  background-color: #228896;
  color: #fff;
}
.form-submit input[type=submit]:active {
  background-color: #228896;
  color: #eee;
  box-shadow: 2px 2px 4px #002 inset;
}

.score-table {
  width: 90%;
  margin: 1%;
}

.table-th-p {
  margin: 1% 0;
}

.table-p {
  margin: 2% 0;
}

table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

table th,table td{
  text-align: center;
}

table tr:nth-child(odd){
  background-color: #eee
}

select {
  color: #000;
}

#number {
  width: 10%;
}

.use-status {
  margin: 5px 15px 0 0;
  font-weight: normal;
}
